#contact-container{
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 
.contact{
    width: 100%;
    height: 100%;
    display: flex;
}

.contact-left{
    height: 100%;
    width: 50%;
    /* background-color: azure; */
   
}
.contact-left h3{
    font-size: 40px;
}
.contact-right{
    width: 50%;
    height: 100%;
    /* background-color: antiquewhite; */

}