*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;  /* background: rgb(46,7,63); */
  background: linear-gradient(50deg, rgb(34, 6, 47) 8%, rgb(165, 18, 145) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

 
}
